@model IEnumerable<TradingClient.Presentation.Website.Models.StockViewModel>
@using Microsoft.AspNetCore.Http

<h1>Market</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exchange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>

            @if (Context.Session.GetString("CurrentUserToken") == null)
            {
            <td>
                Login to add this to your wallet
            </td>    
            }

            @if (Context.Session.GetString("CurrentUserToken") != null)
            {
            <td>
                @Html.ActionLink("Add to Wallet", "Add", "Wallet", new { id = item.Id })
            </td>    
            }
            
        </tr>
}
    </tbody>
</table>
